body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
    a{
        color: rgb(53, 53, 53);
    }
}
#header{
    background-color: white;
    padding: 5px;
}

.text1{                     
    justify-content: center;
    align-items: center;
    h1{
        color: white;
        margin-top: 50px;
    }
    h5{
        margin: 20px;
        color: rgb(100, 100, 100);
    }
}

.button1{
    justify-content: center;
    align-items: center;
    button{
    background-color: orange;
    border: none;
    padding: 10px;
    margin-top: 10px;
    }
}

